ipykernel
virtualenv
pandas
folium
geopandas
shapely
matplotlib
plotly
notebook
ipywidgets
jupyterlab
nbformat
kaleido
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
ffmpeg
scipy
scikit-learn